body {
    padding-top: 42px;
}

.control-group.error input {
  background-color: #B94A48;
  color: white;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* css for form graphs. */
.rule line {
  stroke: #eee;
}
path {
  fill: none;
}

#vis {
  text-align: center;
}

/* css for forms. */
.center-horizontal {
  text-align: center;
}

.image-preview {
  border: 1px solid black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

table > tbody > tr > td.control-group > input[class*="span"] {
  display: inline;
}

#login_form {
  margin: 5px 8px;
}